/*!
 * Author: Bu5ted Rubber (Steve)
 * Date: 2/4/2018 
 * Main backgrounds and clock colors
*/

.bg0 {
  padding-top: 75px;
  padding-bottom: 135px;
  height: auto;
  background-image: url("../../../assets/images/bg/0.png");
}
.bg0 .mbr-section-text {
  color: #767676;
}
.bg0 .mbr-section-subtitle {
  color: #767676;
}
.bg0 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg0 .mbr-iconfont {
  font-size: 48px;
}
.bg0 .card-img {
  margin-bottom: 1.5rem;
}
.bg0 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg0 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg0 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg0 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg0 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg0 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg0 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg0 H2 {
  color: #232323;
}


.bg1 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/1.png");
}
.bg1 .mbr-section-text {
  color: #767676;
}
.bg1 .mbr-section-subtitle {
  color: #767676;
}
.bg1 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg1 .mbr-iconfont {
  font-size: 48px;
}
.bg1 .card-img {
  margin-bottom: 1.5rem;
}
.bg1 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg1 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg1 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg1 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg1 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg1 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg1 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg1 H2 {
  color: #232323;
}

.bg2 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/2.png");
}
.bg2 .mbr-section-text {
  color: #767676;
}
.bg2 .mbr-section-subtitle {
  color: #767676;
}
.bg2 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg2 .mbr-iconfont {
  font-size: 48px;
}
.bg2 .card-img {
  margin-bottom: 1.5rem;
}
.bg2 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg2 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg2 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg2 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg2 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg2 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg2 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg2 H2 {
  color: #232323;
}

.bg3 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/3.png");
}
.bg3 .mbr-section-text {
  color: #767676;
}
.bg3 .mbr-section-subtitle {
  color: #767676;
}
.bg3 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg3 .mbr-iconfont {
  font-size: 48px;
}
.bg3 .card-img {
  margin-bottom: 1.5rem;
}
.bg3 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg3 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg3 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg3 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg3 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg3 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg3 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg3 H2 {
  color: #232323;
}

.bg4 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/4.png");
}
.bg4 .mbr-section-text {
  color: #767676;
}
.bg4 .mbr-section-subtitle {
  color: #767676;
}
.bg4 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg4 .mbr-iconfont {
  font-size: 48px;
}
.bg4 .card-img {
  margin-bottom: 1.5rem;
}
.bg4 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg4 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg4 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg4 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg4 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg4 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg4 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg4 H2 {
  color: #232323;
}

.bg5 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/5.png");
}
.bg5 .mbr-section-text {
  color: #767676;
}
.bg5 .mbr-section-subtitle {
  color: #767676;
}
.bg5 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg5 .mbr-iconfont {
  font-size: 48px;
}
.bg5 .card-img {
  margin-bottom: 1.5rem;
}
.bg5 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg5 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg5 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg5 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg5 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg5 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg5 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg5 H2 {
  color: #232323;
}
.bg6 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/6.png");
}
.bg6 .mbr-section-text {
  color: #767676;
}
.bg6 .mbr-section-subtitle {
  color: #767676;
}
.bg6 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg6 .mbr-iconfont {
  font-size: 48px;
}
.bg6 .card-img {
  margin-bottom: 1.5rem;
}
.bg6 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg6 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg6 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg6 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg6 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg6 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg6 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg6 H2 {
  color: #232323;
}

.bg7 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/7.png");
}
.bg7 .mbr-section-text {
  color: #767676;
}
.bg7 .mbr-section-subtitle {
  color: #767676;
}
.bg7 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg7 .mbr-iconfont {
  font-size: 48px;
}
.bg7 .card-img {
  margin-bottom: 1.5rem;
}
.bg7 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg7 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg7 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg7 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg7 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg7 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg7 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg7 H2 {
  color: #232323;
}

.bg8 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/8.png");
}
.bg8 .mbr-section-text {
  color: #767676;
}
.bg8 .mbr-section-subtitle {
  color: #767676;
}
.bg8 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg8 .mbr-iconfont {
  font-size: 48px;
}
.bg8 .card-img {
  margin-bottom: 1.5rem;
}
.bg8 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg8 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg8 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg8 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg8 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg8 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg8 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg8 H2 {
  color: #232323;
}

.bg9 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/9.png");
}
.bg9 .mbr-section-text {
  color: #767676;
}
.bg9 .mbr-section-subtitle {
  color: #767676;
}
.bg9 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg9 .mbr-iconfont {
  font-size: 48px;
}
.bg9 .card-img {
  margin-bottom: 1.5rem;
}
.bg9 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg9 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg9 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg9 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg9 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg9 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg9 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg9 H2 {
  color: #232323;
}

.bg10 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/10.png");
}
.bg10 .mbr-section-text {
  color: #767676;
}
.bg10 .mbr-section-subtitle {
  color: #767676;
}
.bg10 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg10 .mbr-iconfont {
  font-size: 48px;
}
.bg10 .card-img {
  margin-bottom: 1.5rem;
}
.bg10 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg10 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg10 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg10 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg10 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg10 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg10 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg10 H2 {
  color: #232323;
}
.bg11 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/11.png");
}
.bg11 .mbr-section-text {
  color: #767676;
}
.bg11 .mbr-section-subtitle {
  color: #767676;
}
.bg11 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg11 .mbr-iconfont {
  font-size: 48px;
}
.bg11 .card-img {
  margin-bottom: 1.5rem;
}
.bg11 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg11 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg11 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg11 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg11 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg11 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg11 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg11 H2 {
  color: #232323;
}


.bg12 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/12.png");
}
.bg12 .mbr-section-text {
  color: #767676;
}
.bg12 .mbr-section-subtitle {
  color: #767676;
}
.bg12 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg12 .mbr-iconfont {
  font-size: 48px;
}
.bg12 .card-img {
  margin-bottom: 1.5rem;
}
.bg12 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg12 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg12 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg12 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg12 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg12 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg12 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg12 H2 {
  color: #232323;
}

.bg13 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/13.png");
}
.bg13 .mbr-section-text {
  color: #767676;
}
.bg13 .mbr-section-subtitle {
  color: #767676;
}
.bg13 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg13 .mbr-iconfont {
  font-size: 48px;
}
.bg13 .card-img {
  margin-bottom: 1.5rem;
}
.bg13 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg13 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg13 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg13 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg13 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg13 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg13 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg13 H2 {
  color: #232323;
}

.bg14 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/14.png");
}
.bg14 .mbr-section-text {
  color: #767676;
}
.bg14 .mbr-section-subtitle {
  color: #767676;
}
.bg14 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg14 .mbr-iconfont {
  font-size: 48px;
}
.bg14 .card-img {
  margin-bottom: 1.5rem;
}
.bg14 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg14 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg14 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg14 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg14 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg14 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg14 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg14 H2 {
  color: #232323;
}

.bg15 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/15.png");
}
.bg15 .mbr-section-text {
  color: #767676;
}
.bg15 .mbr-section-subtitle {
  color: #767676;
}
.bg15 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg15 .mbr-iconfont {
  font-size: 48px;
}
.bg15 .card-img {
  margin-bottom: 1.5rem;
}
.bg15 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg15 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg15 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg15 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg15 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg15 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg15 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg15 H2 {
  color: #232323;
}

.bg16 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/16.png");
}
.bg16 .mbr-section-text {
  color: #767676;
}
.bg16 .mbr-section-subtitle {
  color: #767676;
}
.bg16 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg16 .mbr-iconfont {
  font-size: 48px;
}
.bg16 .card-img {
  margin-bottom: 1.5rem;
}
.bg16 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg16 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg16 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg16 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg16 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg16 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg16 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg16 H2 {
  color: #232323;
}
.bg17 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/17.png");
}
.bg17 .mbr-section-text {
  color: #767676;
}
.bg17 .mbr-section-subtitle {
  color: #767676;
}
.bg17 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg17 .mbr-iconfont {
  font-size: 48px;
}
.bg17 .card-img {
  margin-bottom: 1.5rem;
}
.bg17 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg17 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg17 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg17 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg17 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg17 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg17 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg17 H2 {
  color: #232323;
}

.bg18 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/18.png");
}
.bg18 .mbr-section-text {
  color: #767676;
}
.bg18 .mbr-section-subtitle {
  color: #767676;
}
.bg18 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg18 .mbr-iconfont {
  font-size: 48px;
}
.bg18 .card-img {
  margin-bottom: 1.5rem;
}
.bg18 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg18 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg18 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg18 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg18 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg18 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg18 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg18 H2 {
  color: #232323;
}

.bg19 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/19.png");
}
.bg19 .mbr-section-text {
  color: #767676;
}
.bg19 .mbr-section-subtitle {
  color: #767676;
}
.bg19 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg19 .mbr-iconfont {
  font-size: 48px;
}
.bg19 .card-img {
  margin-bottom: 1.5rem;
}
.bg19 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg19 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg19 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg19 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg19 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg19 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg19 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg19 H2 {
  color: #232323;
}

.bg20 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/20.png");
}
.bg20 .mbr-section-text {
  color: #767676;
}
.bg20 .mbr-section-subtitle {
  color: #767676;
}
.bg20 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg20 .mbr-iconfont {
  font-size: 48px;
}
.bg20 .card-img {
  margin-bottom: 1.5rem;
}
.bg20 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg20 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg20 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg20 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg20 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg20 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg20 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg20 H2 {
  color: #232323;
}
.bg21 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/20.png");
}
.bg21 .mbr-section-text {
  color: #767676;
}
.bg21 .mbr-section-subtitle {
  color: #767676;
}
.bg21 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg21 .mbr-iconfont {
  font-size: 48px;
}
.bg21 .card-img {
  margin-bottom: 1.5rem;
}
.bg21 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg21 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg21 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg21 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg21 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg21 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg21 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg21 H2 {
  color: #232323;
}


.bg22  {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/22.png");
}
.bg22  .mbr-section-text {
  color: #767676;
}
.bg22  .mbr-section-subtitle {
  color: #767676;
}
.bg22  .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg22  .mbr-iconfont {
  font-size: 48px;
}
.bg22  .card-img {
  margin-bottom: 1.5rem;
}
.bg22  .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg22  .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg22  .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg22  .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg22  .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg22  .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg22  .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg22  H2 {
  color: #232323;
}

.bg23 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/23.png");
}
.bg23 .mbr-section-text {
  color: #767676;
}
.bg23 .mbr-section-subtitle {
  color: #767676;
}
.bg23 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg23 .mbr-iconfont {
  font-size: 48px;
}
.bg23 .card-img {
  margin-bottom: 1.5rem;
}
.bg23 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg23 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg23 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg23 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg23 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg23 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg23 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg23 H2 {
  color: #232323;
}

.bg24 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/24.png");
}
.bg24 .mbr-section-text {
  color: #767676;
}
.bg24 .mbr-section-subtitle {
  color: #767676;
}
.bg24 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg24 .mbr-iconfont {
  font-size: 48px;
}
.bg24 .card-img {
  margin-bottom: 1.5rem;
}
.bg24 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg24 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg24 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg24 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg24 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg24 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg24 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg24 H2 {
  color: #232323;
}

.bg25 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/25.png");
}
.bg25 .mbr-section-text {
  color: #767676;
}
.bg25 .mbr-section-subtitle {
  color: #767676;
}
.bg25 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg25 .mbr-iconfont {
  font-size: 48px;
}
.bg25 .card-img {
  margin-bottom: 1.5rem;
}
.bg25 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg25 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg25 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg25 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg25 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg25 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg25 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg25 H2 {
  color: #232323;
}

.bg26 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/26.png");
}
.bg26 .mbr-section-text {
  color: #767676;
}
.bg26 .mbr-section-subtitle {
  color: #767676;
}
.bg26 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg26 .mbr-iconfont {
  font-size: 48px;
}
.bg26 .card-img {
  margin-bottom: 1.5rem;
}
.bg26 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg26 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg26 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg26 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg26 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg26 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg26 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg26 H2 {
  color: #232323;
}
.bg27 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/27.png");
}
.bg27 .mbr-section-text {
  color: #767676;
}
.bg27 .mbr-section-subtitle {
  color: #767676;
}
.bg27 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg27 .mbr-iconfont {
  font-size: 48px;
}
.bg27 .card-img {
  margin-bottom: 1.5rem;
}
.bg27 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg27 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg27 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg27 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg27 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg27 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg27 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg27 H2 {
  color: #232323;
}

.bg28 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/28.png");
}
.bg28 .mbr-section-text {
  color: #767676;
}
.bg28 .mbr-section-subtitle {
  color: #767676;
}
.bg28 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg28 .mbr-iconfont {
  font-size: 48px;
}
.bg28 .card-img {
  margin-bottom: 1.5rem;
}
.bg28 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg28 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg28 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg28 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg28 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg28 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg28 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg28 H2 {
  color: #232323;
}

.bg29 {
  padding-top: 75px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/bg/29.png");
}
.bg29 .mbr-section-text {
  color: #767676;
}
.bg29 .mbr-section-subtitle {
  color: #767676;
}
.bg29 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg29 .mbr-iconfont {
  font-size: 48px;
}
.bg29 .card-img {
  margin-bottom: 1.5rem;
}
.bg29 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.bg29 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.bg29 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.bg29 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #232323;
}
.bg29 .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.bg29 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.bg29 .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.bg29 H2 {
  color: #232323;
}

.clock {
}
.clock0 {
	color: black;
}
.clock1 {
	color: white;
}
.clock2 {
	color: darkslategray;
}
.clock3 {
	color: gray;
}
.clock4 {
	color: yellow;
}
.clock5 {
	color: red;
}
.clock6 {
	color: blue;
}
.clock7 {
	color: green;
}
.clock8 {
	color: purple;
}
.clock9 {
	color: lime;
}
.clock10 {
	color: teal;
}
.clock11 {
	color: chocolate;
}
.clock12 {
	color: DeepSkyBlue;
}
.clock13 {
	color: aqua;
}
.clock14 {
	color: darkkhaki;
}
.clock15 {
	color: lightslategray;
}
.clock16 {
	color: silver;
}
.clock17 {
	color: gold;
}

.colorBlack {
	color: black;
}
.colorWhite {
	color: white;
}
.colorGray {
	color: gray;
}